.SubmitButtonWithProcessingState {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    padding: 1em 0;

    span {
        font-weight: 600;
    }

    button {
        &:disabled {
            color: #707070;
            background-color: #d3d3d3;
            opacity: 0.6;
            cursor: not-allowed;
        }
    }
}
