.Spinner {
    display: block;
    font-size: 10px;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 0.9s infinite ease;
    transform: translateZ(0);
}
@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow:
            0em -1.3em 0em 0em rgb(14, 7, 224, 1),
            0.9em -0.9em 0 0em rgba(48, 48, 48, 0.2),
            1.25em 0em 0 0em rgba(48, 48, 48, 0.2),
            0.875em 0.875em 0 0em rgba(48, 48, 48, 0.2),
            0em 1.25em 0 0em rgba(48, 48, 48, 0.2),
            -0.9em 0.9em 0 0em rgba(48, 48, 48, 0.2),
            -1.3em 0em 0 0em rgba(48, 48, 48, 0.5),
            -0.9em -0.9em 0 0em rgb(14, 7, 224, 0.4);
    }
    11.25% {
        box-shadow:
            0em -1.3em 0em 0em rgb(14, 7, 224, 0.4),
            0.9em -0.9em 0 0em rgb(14, 7, 224, 1),
            1.25em 0em 0 0em rgba(48, 48, 48, 0.2),
            0.875em 0.875em 0 0em rgba(48, 48, 48, 0.2),
            0em 1.25em 0 0em rgba(48, 48, 48, 0.2),
            -0.9em 0.9em 0 0em rgba(48, 48, 48, 0.2),
            -1.3em 0em 0 0em rgba(48, 48, 48, 0.2),
            -0.9em -0.9em 0 0em rgba(48, 48, 48, 0.5);
    }
    25% {
        box-shadow:
            0em -1.3em 0em 0em rgba(48, 48, 48, 0.5),
            0.9em -0.9em 0 0em rgb(14, 7, 224, 0.4),
            1.25em 0em 0 0em rgb(14, 7, 224, 1),
            0.875em 0.875em 0 0em rgba(48, 48, 48, 0.2),
            0em 1.25em 0 0em rgba(48, 48, 48, 0.2),
            -0.9em 0.9em 0 0em rgba(48, 48, 48, 0.2),
            -1.3em 0em 0 0em rgba(48, 48, 48, 0.2),
            -0.9em -0.9em 0 0em rgba(48, 48, 48, 0.2);
    }
    37.5% {
        box-shadow:
            0em -1.3em 0em 0em rgba(48, 48, 48, 0.2),
            0.9em -0.9em 0 0em rgba(48, 48, 48, 0.5),
            1.25em 0em 0 0em rgb(14, 7, 224, 0.4),
            0.875em 0.875em 0 0em rgb(14, 7, 224, 1),
            0em 1.25em 0 0em rgba(48, 48, 48, 0.2),
            -0.9em 0.9em 0 0em rgba(48, 48, 48, 0.2),
            -1.3em 0em 0 0em rgba(48, 48, 48, 0.2),
            -0.9em -0.9em 0 0em rgba(48, 48, 48, 0.2);
    }
    50% {
        box-shadow:
            0em -1.3em 0em 0em rgba(48, 48, 48, 0.2),
            0.9em -0.9em 0 0em rgba(48, 48, 48, 0.2),
            1.25em 0em 0 0em rgba(48, 48, 48, 0.5),
            0.875em 0.875em 0 0em rgb(14, 7, 224, 0.4),
            0em 1.25em 0 0em rgb(14, 7, 224, 1),
            -0.9em 0.9em 0 0em rgba(48, 48, 48, 0.2),
            -1.3em 0em 0 0em rgba(48, 48, 48, 0.2),
            -0.9em -0.9em 0 0em rgba(48, 48, 48, 0.2);
    }
    61.25% {
        box-shadow:
            0em -1.3em 0em 0em rgba(48, 48, 48, 0.2),
            0.9em -0.9em 0 0em rgba(48, 48, 48, 0.2),
            1.25em 0em 0 0em rgba(48, 48, 48, 0.2),
            0.875em 0.875em 0 0em rgba(48, 48, 48, 0.5),
            0em 1.25em 0 0em rgb(14, 7, 224, 0.4),
            -0.9em 0.9em 0 0em rgb(14, 7, 224, 1),
            -1.3em 0em 0 0em rgba(48, 48, 48, 0.2),
            -0.9em -0.9em 0 0em rgba(48, 48, 48, 0.2);
    }
    75% {
        box-shadow:
            0em -1.3em 0em 0em rgba(48, 48, 48, 0.2),
            0.9em -0.9em 0 0em rgba(48, 48, 48, 0.2),
            1.25em 0em 0 0em rgba(48, 48, 48, 0.2),
            0.875em 0.875em 0 0em rgba(48, 48, 48, 0.2),
            0em 1.25em 0 0em rgba(48, 48, 48, 0.5),
            -0.9em 0.9em 0 0em rgb(14, 7, 224, 0.4),
            -1.3em 0em 0 0em rgb(14, 7, 224, 1),
            -0.9em -0.9em 0 0em rgba(48, 48, 48, 0.2);
    }
    87.5% {
        box-shadow:
            0em -1.3em 0em 0em rgba(48, 48, 48, 0.2),
            0.9em -0.9em 0 0em rgba(48, 48, 48, 0.2),
            1.25em 0em 0 0em rgba(48, 48, 48, 0.2),
            0.875em 0.875em 0 0em rgba(48, 48, 48, 0.2),
            0em 1.25em 0 0em rgba(48, 48, 48, 0.2),
            -0.9em 0.9em 0 0em rgba(48, 48, 48, 0.5),
            -1.3em 0em 0 0em rgb(14, 7, 224, 0.4),
            -0.9em -0.9em 0 0em rgb(14, 7, 224, 1);
    }
}
