.Spinner {
  display: block;
  font-size: 10px;
  width: .5em;
  height: .5em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin .9s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -1.3em 0em 0em rgb(14, 7, 224, 1), .9em -.9em 0 0em rgba(48, 48, 48, 0.2), 1.25em 0em 0 0em rgba(48, 48, 48, 0.2), .875em .875em 0 0em rgba(48, 48, 48, 0.2), 0em 1.25em 0 0em rgba(48, 48, 48, 0.2), -.9em .9em 0 0em rgba(48, 48, 48, 0.2), -1.3em 0em 0 0em rgba(48, 48, 48, 0.5), -.9em -.9em 0 0em rgb(14, 7, 224, .4);
  }
  11.25% {
    box-shadow: 0em -1.3em 0em 0em rgb(14, 7, 224, .4), .9em -.9em 0 0em rgb(14, 7, 224, 1), 1.25em 0em 0 0em rgba(48, 48, 48, 0.2), .875em .875em 0 0em rgba(48, 48, 48, 0.2), 0em 1.25em 0 0em rgba(48, 48, 48, 0.2), -.9em .9em 0 0em rgba(48, 48, 48, 0.2), -1.3em 0em 0 0em rgba(48, 48, 48, 0.2), -.9em -.9em 0 0em rgba(48, 48, 48, 0.5);
  }
  25% {
    box-shadow: 0em -1.3em 0em 0em rgba(48, 48, 48, 0.5), .9em -.9em 0 0em rgb(14, 7, 224, .4), 1.25em 0em 0 0em rgb(14, 7, 224, 1), .875em .875em 0 0em rgba(48, 48, 48, 0.2), 0em 1.25em 0 0em rgba(48, 48, 48, 0.2), -.9em .9em 0 0em rgba(48, 48, 48, 0.2), -1.3em 0em 0 0em rgba(48, 48, 48, 0.2), -.9em -.9em 0 0em rgba(48, 48, 48, 0.2);
  }
  37.5% {
    box-shadow: 0em -1.3em 0em 0em rgba(48, 48, 48, 0.2), .9em -.9em 0 0em rgba(48, 48, 48, 0.5), 1.25em 0em 0 0em rgb(14, 7, 224, .4), .875em .875em 0 0em rgb(14, 7, 224, 1), 0em 1.25em 0 0em rgba(48, 48, 48, 0.2), -.9em .9em 0 0em rgba(48, 48, 48, 0.2), -1.3em 0em 0 0em rgba(48, 48, 48, 0.2), -.9em -.9em 0 0em rgba(48, 48, 48, 0.2);
  }
  50% {
    box-shadow: 0em -1.3em 0em 0em rgba(48, 48, 48, 0.2), .9em -.9em 0 0em rgba(48, 48, 48, 0.2), 1.25em 0em 0 0em rgba(48, 48, 48, 0.5), .875em .875em 0 0em rgb(14, 7, 224, .4), 0em 1.25em 0 0em rgb(14, 7, 224, 1), -.9em .9em 0 0em rgba(48, 48, 48, 0.2), -1.3em 0em 0 0em rgba(48, 48, 48, 0.2), -.9em -.9em 0 0em rgba(48, 48, 48, 0.2);
  }
  61.25% {
    box-shadow: 0em -1.3em 0em 0em rgba(48, 48, 48, 0.2), .9em -.9em 0 0em rgba(48, 48, 48, 0.2), 1.25em 0em 0 0em rgba(48, 48, 48, 0.2), .875em .875em 0 0em rgba(48, 48, 48, 0.5), 0em 1.25em 0 0em rgb(14, 7, 224, .4), -.9em .9em 0 0em rgb(14, 7, 224, 1), -1.3em 0em 0 0em rgba(48, 48, 48, 0.2), -.9em -.9em 0 0em rgba(48, 48, 48, 0.2);
  }
  75% {
    box-shadow: 0em -1.3em 0em 0em rgba(48, 48, 48, 0.2), .9em -.9em 0 0em rgba(48, 48, 48, 0.2), 1.25em 0em 0 0em rgba(48, 48, 48, 0.2), .875em .875em 0 0em rgba(48, 48, 48, 0.2), 0em 1.25em 0 0em rgba(48, 48, 48, 0.5), -.9em .9em 0 0em rgb(14, 7, 224, .4), -1.3em 0em 0 0em rgb(14, 7, 224, 1), -.9em -.9em 0 0em rgba(48, 48, 48, 0.2);
  }
  87.5% {
    box-shadow: 0em -1.3em 0em 0em rgba(48, 48, 48, 0.2), .9em -.9em 0 0em rgba(48, 48, 48, 0.2), 1.25em 0em 0 0em rgba(48, 48, 48, 0.2), .875em .875em 0 0em rgba(48, 48, 48, 0.2), 0em 1.25em 0 0em rgba(48, 48, 48, 0.2), -.9em .9em 0 0em rgba(48, 48, 48, 0.5), -1.3em 0em 0 0em rgb(14, 7, 224, .4), -.9em -.9em 0 0em rgb(14, 7, 224, 1);
  }
}